.boton-azul
{
    color: white;
    font-family: arial;
    font-size: 90%;

    background-color:#4474D6;

    border-radius:6px;
    height:35px;
    width:80%;
    box-shadow: 0px 5px #455EB8;
    border-color:#455EB8;
    margin: 10px;
}

.boton-amarillo
{
    color: white;
    font-family: arial;
    font-size: 90%;

    background-color:#FCAA18;
    border-radius:6px;
    height:35px;
    width:80%;
    box-shadow: 0px 5px #C79E60 ;
    border-color:#C79E60;
    margin: 10px;
}
    

.boton-rojo
{
    color: white;
    font-family: arial;
    font-size: 90%;

    background-color:#D63811;
    border-radius:6px;
    height:35px;
    width:95%;
    box-shadow: 0px 5px #940E0F ;
    border-color:#940E0F;
    margin: 10px;
}

.boton-verde
{
    color: white;
    font-family: arial;
    font-size: 90%;

    background-color:#75D734;
    width:80%;
    height:35px;
    box-shadow:0px 5px #62B131;
    border-color: #62B131;
    border-radius:6px;
    margin: 10px;
    


}

.visor
{
    font-size:95%;
    text-align:right;
    font-weight:bold;
    width: 91%;
    height:35px;
    margin-left:10px;

    
  
}